<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAY7VgmbjZn2KCXUh_PWNfPBe2qt5WU2k0</string>
	<key>GCM_SENDER_ID</key>
	<string>782813816644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.directory.sau</string>
	<key>PROJECT_ID</key>
	<string>brain-sugar</string>
	<key>STORAGE_BUCKET</key>
	<string>brain-sugar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782813816644:ios:b2cc83000747cfc91b1911</string>
</dict>
</plist>